body {
    background: #E5E5E5;
}

.wrapper {
    background-color:red;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    max-width:950px;
    min-width:400px;
    min-height:600px;
    padding:0;
}

/* Midori Start*/

header {
    display: grid;
    grid-template: 
     "header1 header2" 50% 
     "header1 header3" 50%
     / 50% 50%;
    
}

span {
    color: white;
}


.header-section1 {
    background: #C7DDEA; 
    grid-area: header1;
    display: grid;
    grid-template: 
    "section1 section1" auto
    "section2 section3" 52%
      / 37% 63%
}

.header-section1 h1{
    width: 314px;
    height: 101px;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 43px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    grid-area: section1;
    margin-left: 105px;
    margin-bottom: 0px;
    margin-top: 71px;
    
}

.header-section1 p {
    width: 268px;
    height: 103px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    grid-area: section1;
    margin-left: 105px;
    margin-top: 172px;
    
}

  
.header-section1 .join-button {
    margin-left: 105px;
    margin-top: 65px;
}
  

button:hover {
    filter:drop-shadow(5px 5px 5px black) invert(100%); 
}

img {
    width: 286px;
    height: 279px;
    grid-area: section3;
}

.header-section2 {
    background: #F17949;
    left: 720px;
    top: 0px;
    grid-area: header2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-section2 p, .header-section3 p {
    width: 250px;
    height: 17px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 0px;
    
    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.5);
}

.header-section2 h2, .header-section3 h2 {
  
    width: 250px;
    height: 41px;
    left: 860px;
    top: 131px;

    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    
    letter-spacing: -0.02em;
    margin-top: 0px;
    color: #FFFFFF;
}

.header-section3 {
    background: #FAB131;
    grid-area: header3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

.nav {
    display: grid;
    list-style: none;
    align-items: center;
    text-align: center;
    grid-template:
      "... nav1 nav2 nav3 nav4 ... " 57px
      / 1fr 167px 167px 167px 167px 1fr;

}

.nav li a {
    
    width: 167px;
    height: 57px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    
    letter-spacing: -0.02em;
    text-decoration: none;

    color: #000000; 

}

.nav1 {
    grid-area: nav1;
   
}

.nav2 {
    grid-area: nav2;
    opacity: 0.4;
}

.nav3 {
    grid-area: nav3;
    opacity: 0.4;
}

.nav4 {
    grid-area: nav4;
    opacity: 0.4;
}


/*Midori end*/

/* Fredrik start */


.join-button {
    text-decoration:none;
    color:black;
    display:inline-block;
    box-sizing: border-box;
    width:10em;
    height:3em;
    line-height:3em;
    font-size:0.8em;
    text-align:center;
    background-image: url("img/button.png");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.join-button:hover {
    filter:drop-shadow(5px 5px 5px black) invert(100%); 
}

.main1 {
    width:100%;
    min-height:300px;
    margin:0;
    padding:0;
    background-color:#A9A19E;
    background-image: linear-gradient(to bottom, #FAB131, #FAB131);
    background-size: 100% 50%;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.infofield, .cards, .aboutus {
    width:100%;
    height:33,3%;
}

.aboutus > h1 {
    color:white;
    text-align:center;
}
.aboutus > p {
    color: rgba(0, 0, 0, 0.6);
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}


.font, .main1 p {
    font-family: Verdana, Helvetica, sans-serif;
}


.main1 {
    display:inline-block;
    box-sizing: border-box;
    width:100%;
    min-height:300px;
    margin:0;
    padding-top:100px;
    padding-bottom:150px;
    padding-left:5%;
    padding-right:5%;
    /*padding:6wv 50px 150px 6wv;*/
    background-color:#A9A19E;
    background-image: linear-gradient(to bottom, #FAB131, #FAB131);
    background-size: 100% 60vw;
    background-position: left bottom;
    background-repeat: no-repeat;
    color:rgba(0,0,0,0.8);
    font-weight:bold;
}

.main1 h1 {
    color:white;
    font-size:3em;
}
.infofield h1 {
    width:80%;
    background-color:yellow;
    margin:0;
    margin-bottom:20%;
}


.infofield, .cards, .aboutus {
    width:100%;
    height:33,3%;
}
.infofield, .cards {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    
}
.infofield p {
    background-color:green;
    width:85%;
    margin:0;
}
.infofield article {
    background-color:purple;
    display:block;
    box-sizing: content-box;
    width:100%;
    max-width:420px;
    min-height:33,3%;
    margin:0;
    padding:0;
}


.main1 p {
    line-height:2em;
}

.aboutus h1 {
    text-align:center;
}
.aboutus p {
    text-align:center;
    width:65%;
    padding:0;
    margin-left:auto;
    margin-right:auto;
}

.cards {
    background-color:navy;
    max-width:840px;
    margin-left:auto;
    margin-right:auto;
}

.card {
    background-color:white;
    display:block;
    box-sizing: content-box;
    width:100%;
    max-width:250px;
    min-height:300px;
    margin:13px;
    margin-top:40px;
    padding:0;
    text-align:center;
}
.card p {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    font-size:10px;
    line-height:1.5em;
}
.card-bild {
    display:block;
    box-sizing: content-box;
    width:90%;
    height:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:-20px;
    padding:0;
    background-color:#C7DDEA;
    background-image: url("img/child.png");
    background-size: auto 110%;
    background-position: center 10px;
    background-repeat: no-repeat;
}
.kvinna {
    background-color:#FAB131;
    background-size: auto 300%;
    background-image: url("img/adult.png");
}
.gubbe {
    background-color:#F17949;
    background-size: auto 270%;
    background-image: url("img/old.png");
}


@media only screen and (max-width: 850px) {
    .infofield h1 {
        margin-bottom:0;
    }
    .main1 a {
        display:none;
    }
}


/* Fredrik end */